@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
header nav {
  width: 67.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav .main1_icons_2_4 {
  display: none;
}
header nav .block_search {
  display: flex;
  width: 17vw;
  height: 5vh;
}
header nav .block_search input {
  width: 14vw;
  height: 5vh;
  border: 0;
  background-color: #F9F9F9;
  padding-left: 15px;
}
header nav .block_search .header_block1 {
  width: 3vw;
  height: 5vh;
  background-color: #82BA01;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
header nav .header_block2 {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
header nav .header_block2 .header_block3 {
  width: 8vw;
  display: flex;
  flex-direction: column;
}
header nav .header_block2 .header_block3 p {
  font-size: 0.937rem;
  color: #A8A8A8;
}
header nav .header_block2 .header_block3 .header_block4 {
  display: flex;
  flex-direction: row;
}
header nav .header_block2 .header_block3 .header_block4 p {
  font-size: 1.125rem;
  color: #272727;
}
header nav .header_block5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
header nav .header_block5 .header_block6 {
  font-size: 1.125rem;
  color: #272727;
}
header nav .header_block7 {
  width: 10vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #6701BA;
  border: 0;
  border-radius: 6px;
  gap: 0.7vw;
  box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
  cursor: pointer;
}
header nav .header_block7 hr {
  height: 3vh;
}
header nav .header_block7 p {
  font-size: 0.9375rem;
  color: #FFFFFF;
}
header .header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EDF0F6;
  width: 100vw;
  gap: 3vw;
}
header .header2 .header2_button {
  width: 9.9vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #6701BA;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
header .header2 .header2_button hr {
  height: 3vh;
}
header .header2 .header2_button p {
  font-size: 0.9375rem;
  color: #FFFFFF;
}
header .header2 ul {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
header .header2 ul a {
  display: flex;
  text-decoration: none;
  color: black;
  list-style: none;
  font-size: 1.125rem;
  color: #272727;
}

.header_sliders {
  width: 100vw;
  height: 13vh;
  display: flex;
  flex-wrap: nowrap;
}
.header_sliders .header_sliders_all {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 16vh;
}
.header_sliders .header_sliders_all .header_sliders_gap {
  display: flex;
  gap: 0.9vw;
}
.header_sliders .header_sliders_all .header_sliders_arrow {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60vw;
  bottom: 85px;
}
.header_sliders .header_sliders_all .header_sliders_arrow img {
  width: 40px;
  height: 40px;
}
.header_sliders .header_sliders_all img {
  width: 186px;
  height: 140px;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
}

.main1 {
  width: 100vw;
  height: 60.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1 .main1_all {
  width: 67.2vw;
  height: 56vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main1 .main1_all .main1_text {
  display: grid;
  grid-template-rows: 70px 117px 40px 200px 52px;
  width: 24vw;
}
.main1 .main1_all .main1_text .main1_p1 {
  font-weight: 700;
  font-size: 3rem;
  color: #82BA01;
}
.main1 .main1_all .main1_text .main1_p2 {
  width: 50%;
  font-weight: 700;
  font-size: 2.25rem;
  color: #272727;
}
.main1 .main1_all .main1_text .main1_p3 {
  font-size: 1.125rem;
  color: #A8A8A8;
}
.main1 .main1_all .main1_text .main1_p4 {
  width: 94%;
  font-size: 0.9375rem;
  color: #272727;
}
.main1 .main1_all .main1_text .main1_p5 {
  display: none;
}
.main1 .main1_all .main1_text .main1_button {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.main1 .main1_all .main1_text .main1_button .main1_button1 {
  width: 9.29vw;
  height: 5vh;
  background-color: #6701BA;
  font-size: 0.9375rem;
  color: #FFFFFF;
  border: 0;
  border-radius: 6px;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.main1 .main1_all .main1_text .main1_button .main1_button1:hover {
  transform: scale(1.02);
}
.main1 .main1_all .main1_text .main1_button .main1_button2 {
  width: 9.29vw;
  height: 5vh;
  background-color: transparent;
  font-size: 0.9375rem;
  color: #272727;
  border: #6701BA 1px solid;
  border-radius: 6px;
  transition: transform 0.6s ease;
}
.main1 .main1_all .main1_text .main1_button .main1_button2:hover {
  transform: scale(1.02);
}
.main1 .main1_all .main1_text .main1_input1 {
  display: none;
}
.main1 .main1_all .main1_img {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/123.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 59vw;
  height: 60vh;
  position: relative;
}
.main1 .main1_all .main1_img .main1_img_block1 {
  position: relative;
  top: 427px;
  left: 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27vw;
}
.main1 .main1_all .main1_img .main1_img_block1 .main1_img_block1_1 {
  cursor: pointer;
}
.main1 .main1_all .main1_img .main1_img_block1 .main1_img_block1_2 {
  cursor: pointer;
}
.main1 .main1_all .main1_img .main1_img_block2 {
  width: 5vw;
  height: 20vh;
  position: relative;
  top: 206px;
  left: 453px;
}
.main1 .main1_all .main1_img .main1_btn {
  width: 45px;
  height: 45px;
  background: #76B900;
  color: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 3vw;
  bottom: 8vh;
  cursor: pointer;
  font-size: 25px;
}
.main1 .main1_all .main1_icons {
  width: 10vw;
  height: 22vw;
  display: flex;
  justify-content: end;
  position: absolute;
  left: 1550px;
}
.main1 .main1_all .main1_icons .main1_icons_all {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.main1 .main1_all .main1_icons .main1_icons_all img {
  width: 56px;
  height: 56px;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  border-radius: 50%;
}
.main1 .main1_all .main1_icons .main1_icons_all .main1_icons_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main1 .main1_all .main1_icons .main1_icons_all .main1_icons_1 p {
  font-size: 0.975rem;
  color: #272727;
}
.main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5vh;
}
.main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 .main1_icons_2_4 {
  display: none;
}

.main2 {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
}
.main2 .main2_all {
  width: 67.2vw;
  height: 35vh;
  gap: 3vh;
  display: flex;
  flex-direction: column;
}
.main2 .main2_all .main2_text_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main2 .main2_all .main2_text_all .main2_text1 {
  width: 50%;
  font-weight: 700;
  font-size: 2.25rem;
  color: #272727;
}
.main2 .main2_all .main2_text_all .main2_text2 {
  -webkit-text-decoration: underline #82BA01 1.5px;
          text-decoration: underline #82BA01 1.5px;
  font-size: 0.9375rem;
  color: #6701BA;
}
.main2 .main2_all .main2_card_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.main2 .main2_all .main2_card_all::-webkit-scrollbar {
  display: none;
}
.main2 .main2_all .main2_card_all .main2_card {
  width: 15vw;
  height: 25vh;
  min-width: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.main2 .main2_all .main2_card_all .main2_card .main_card_p {
  width: 15vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.125rem;
  color: #272727;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
}
.main2 .main2_all .main2_card_all .main2_card:hover {
  transform: scale(1.1);
}
.main2 .main2_all .main2_text2_mobile {
  display: none;
}
.main2 .main2_all .main2_line_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main2 .main2_all .main2_line_center .main2_line {
  width: 22vw;
  height: 0.4vw;
  background: #EDF0F6;
  border-radius: 1vw;
  position: relative;
  cursor: pointer;
}
.main2 .main2_all .main2_line_center .main2_line .main2_green {
  width: 4.5vw;
  height: 100%;
  background: #82BA01;
  border-radius: 1vw;
  position: absolute;
  left: 0;
  top: 0;
  cursor: grab;
}
.main2 .main2_all .main2_line_center .main2_line .main2_green:active {
  cursor: grabbing;
}

.main3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main3 .main3_all {
  width: 67.2vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main3 .main3_all .main3_wh {
  display: grid;
  flex-direction: column;
  grid-template-rows: 128px 65px 165px 85px 90px 100px 118px;
  align-items: center;
}
.main3 .main3_all .main3_wh .main3_p1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #272727;
}
.main3 .main3_all .main3_wh .main3_img1 {
  display: none;
}
.main3 .main3_all .main3_wh .main3_p2 {
  font-weight: 700;
  font-size: 1.625rem;
  color: #272727;
}
.main3 .main3_all .main3_wh .main3_p3 {
  width: 25vw;
  font-size: 0.975rem;
  color: #272727;
}
.main3 .main3_all .main3_wh .main3_text3_mobile {
  display: none;
}
.main3 .main3_all .main3_wh .main3_sell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.main3 .main3_all .main3_wh .main3_sell .main3_sell_p1 {
  font-weight: 700;
  font-size: 3rem;
  color: #82BA01;
}
.main3 .main3_all .main3_wh .main3_sell .main3_sell_p2 {
  font-size: 1.5rem;
  color: #6701BA;
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
}
.main3 .main3_all .main3_wh .main3_button {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}
.main3 .main3_all .main3_wh .main3_button .main3_button1 {
  width: 9.29vw;
  height: 5vh;
  background-color: #6701BA;
  font-size: 0.9375rem;
  color: #FFFFFF;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.6s ease;
}
.main3 .main3_all .main3_wh .main3_button .main3_button1:hover {
  transform: scale(1.02);
}
.main3 .main3_all .main3_wh .main3_button .main3_button2 {
  width: 9.29vw;
  height: 5vh;
  background-color: transparent;
  font-size: 0.9375rem;
  color: #272727;
  border: #6701BA 1px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.6s ease;
}
.main3 .main3_all .main3_wh .main3_button .main3_button2:hover {
  transform: scale(1.02);
}
.main3 .main3_all .main3_perelist {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}
.main3 .main3_all .main3_perelist input {
  accent-color: #82BA01;
}
.main3 .main3_all .main3_img {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 3vh;
}
.main3 .main3_all .main3_img p {
  -webkit-text-decoration: underline #82BA01 1.5px;
          text-decoration: underline #82BA01 1.5px;
  font-size: 0.9375rem;
  color: #6701BA;
}

.main4 {
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
}
.main4 .main4_all {
  width: 67.2vw;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main4 .main4_all .main4_text {
  display: flex;
  gap: 1.5vh;
  flex-direction: column;
}
.main4 .main4_all .main4_text .main4_p1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #272727;
}
.main4 .main4_all .main4_text .main4_p2 {
  width: 25vw;
  font-size: 0.975rem;
  color: #272727;
  line-height: 25px;
}
.main4 .main4_all .main4_card_all {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}
.main4 .main4_all .main4_card_all .main4_card {
  gap: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 9.3vw;
  height: 14.8vh;
  text-align: center;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
}
.main4 .main4_all .main4_card_all .main4_card p {
  width: 10vw;
  height: 5vh;
}

.main5 {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main5 .main5_all {
  width: 67.2vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}
.main5 .main5_all .main5_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main5 .main5_all .main5_text .main5_text_p1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #272727;
}
.main5 .main5_all .main5_text .main5_text_p2 {
  -webkit-text-decoration: underline #82BA01 1.5px;
          text-decoration: underline #82BA01 1.5px;
  font-size: 0.9375rem;
  color: #6701BA;
}
.main5 .main5_all .main5_card_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main5 .main5_all .main5_card_all .main5_card {
  width: 20vw;
  height: 43vh;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
}
.main5 .main5_all .main5_card_all .main5_card .main5_card_text {
  width: 20vw;
  height: 13vh;
  display: grid;
  align-items: center;
  grid-template-rows: 40px 31px;
  padding-left: 30px;
}
.main5 .main5_all .main5_card_all .main5_card .main5_card_text .main5_card_text1 {
  font-size: 0.975rem;
  color: #A8A8A8;
}
.main5 .main5_all .main5_card_all .main5_card .main5_card_text .main5_card_text2 {
  height: 3vh;
  width: 75%;
  font-size: 1.125rem;
  color: #272727;
  font-weight: 700;
}
.main5 .main5_all .main5_p1_mobile {
  display: none;
}
.main5 .main5_all .main5_line_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main5 .main5_all .main5_line_center .main5_line {
  width: 22vw;
  height: 0.4vw;
  background: #EDF0F6;
  border-radius: 1vw;
  position: relative;
  cursor: pointer;
}
.main5 .main5_all .main5_line_center .main5_line .main5_green {
  width: 4.5vw;
  height: 100%;
  background: #82BA01;
  border-radius: 1vw;
  position: absolute;
  left: 0;
  top: 0;
  cursor: grab;
}
.main5 .main5_all .main5_line_center .main5_line .main5_green:active {
  cursor: grabbing;
}

footer {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  background-color: #F9F9F9;
}
footer .footer_block1_all {
  width: 67.2vw;
  height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
footer .footer_block1_all .footer_block1_one {
  display: flex;
  flex-direction: column;
}
footer .footer_block1_all .footer_block1_one a {
  text-decoration: none;
}
footer .footer_block1_all .footer_block1_one .footer_block1_one_text_main {
  height: 4vh;
  font-size: 1.125rem;
  font-weight: 700;
  color: #272727;
}
footer .footer_block1_all .footer_block1_one .footer_block1_one_text_all {
  font-size: 0.975rem;
  color: #272727;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
footer .footer_block1_all .footer_block1_one .footer_block1_one_text_all a {
  text-decoration: none;
  color: #272727;
}
footer .footer_block1_all .footer_block1_two {
  display: flex;
  flex-direction: column;
}
footer .footer_block1_all .footer_block1_two a {
  text-decoration: none;
}
footer .footer_block1_all .footer_block1_two .footer_block1_two_text_main {
  height: 4vh;
  font-size: 1.125rem;
  font-weight: 700;
  color: #272727;
}
footer .footer_block1_all .footer_block1_two .footer_block1_two_text_main a {
  text-decoration: none;
}
footer .footer_block1_all .footer_block1_two .footer_block1_two_text_all {
  font-size: 0.975rem;
  color: #272727;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
footer .footer_block1_all .footer_block1_two .footer_block1_two_text_all a {
  text-decoration: none;
  color: #272727;
}
footer .footer_block1_all .footer_block1_email {
  display: grid;
  width: 22.4vw;
  grid-template-rows: 44px 75px 70px 44px;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_p1 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #272727;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button input {
  width: 11.57vw;
  height: 5vh;
  padding-left: 20px;
  border: 0;
  border-radius: 6px;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  width: 9.29vw;
  height: 5vh;
  background-color: #6701BA;
  font-size: 0.9375rem;
  color: #ffffff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button button hr {
  height: 3vh;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_p2 {
  width: 74%;
  font-size: 1.125rem;
  font-weight: 700;
  color: #272727;
}
footer .footer_block1_all .footer_block1_email .footer_block1_email_p3 {
  font-size: 2rem;
  font-weight: 700;
  color: #6701BA;
}
footer .footer_line {
  width: 100vw;
}
footer .footer_block2_all {
  width: 67.2vw;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_block2_all .footer_block2_p1 {
  color: #A8A8A8;
  font-size: 0.975rem;
}
footer .footer_block2_all .footer_block2_social {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}
footer .footer_mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
  }
  header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
  }
  header nav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header nav .main1_logo {
    width: 130px;
    height: 65px;
  }
  header nav .main1_icons_2_4 {
    display: flex;
  }
  header nav .block_search {
    display: none;
  }
  header nav .header_block2 {
    display: none;
    flex-direction: row;
    gap: 1vw;
    width: 11vw;
  }
  header nav .header_block2 .header_block3 {
    width: 8vw;
    display: flex;
    flex-direction: column;
  }
  header nav .header_block2 .header_block3 p {
    font-size: 0.937rem;
    color: #A8A8A8;
  }
  header nav .header_block2 .header_block3 .header_block4 {
    display: flex;
    flex-direction: row;
  }
  header nav .header_block2 .header_block3 .header_block4 p {
    font-size: 1.125rem;
    color: #272727;
  }
  header nav .header_block5 {
    display: none;
  }
  header nav .header_block5 .header_block6 {
    font-size: 1.125rem;
    color: #272727;
  }
  header nav .header_block7 {
    width: 10vw;
    height: 5vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #6701BA;
    border: 0;
    border-radius: 6px;
    gap: 0.7vw;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
    cursor: pointer;
  }
  header nav .header_block7 hr {
    height: 3vh;
  }
  header nav .header_block7 p {
    font-size: 0.9375rem;
    color: #FFFFFF;
  }
  header .header2 {
    display: none;
  }
  .header_sliders {
    width: 100vw;
    height: 13vh;
    display: flex;
    flex-wrap: nowrap;
  }
  .header_sliders .header_sliders_all {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 16vh;
  }
  .header_sliders .header_sliders_all .header_sliders_gap {
    display: flex;
    overflow: hidden;
    height: 25vh;
    gap: 1vw;
  }
  .header_sliders .header_sliders_all .header_sliders_arrow {
    position: relative;
    width: 80vw;
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 60vw;
    bottom: 85px;
  }
  .header_sliders .header_sliders_all .header_sliders_arrow img {
    width: 40px;
    height: 40px;
  }
  .header_sliders .header_sliders_all img {
    width: 186px;
    height: 140px;
    box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  }
  .main1 {
    width: 100vw;
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main1 .main1_all {
    width: 78vw;
    height: 57vh;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .main1 .main1_all .main1_text {
    display: grid;
    grid-template-rows: 40px 34px 38px 125px 40px 124px 30px;
    width: 24vw;
    height: 39vh;
  }
  .main1 .main1_all .main1_text .main1_p1 {
    font-weight: 700;
    font-size: 1.625rem;
    color: #82BA01;
  }
  .main1 .main1_all .main1_text .main1_p2 {
    width: 86vw;
    font-weight: 700;
    font-size: 1.125rem;
    color: #272727;
  }
  .main1 .main1_all .main1_text .main1_p3 {
    font-size: 0.975rem;
    color: #A8A8A8;
  }
  .main1 .main1_all .main1_text .main1_p4 {
    width: 94%;
    font-size: 0.9375rem;
    color: #272727;
  }
  .main1 .main1_all .main1_text .main1_p4 .main1_p4_none {
    display: none;
  }
  .main1 .main1_all .main1_text .main1_p5 {
    display: flex;
    -webkit-text-decoration: underline #82BA01 1.5px;
            text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
  }
  .main1 .main1_all .main1_text .main1_button {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 12vh;
  }
  .main1 .main1_all .main1_text .main1_button .main1_button1 {
    width: 78.29vw;
    height: 6vh;
    background-color: #6701BA;
    font-size: 0.9375rem;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    transition: transform 0.6s ease;
    cursor: pointer;
  }
  .main1 .main1_all .main1_text .main1_button .main1_button1:hover {
    transform: scale(1.02);
  }
  .main1 .main1_all .main1_text .main1_button .main1_button2 {
    width: 78.29vw;
    height: 6vh;
    background-color: transparent;
    font-size: 0.9375rem;
    color: #272727;
    border: #6701BA 1px solid;
    border-radius: 6px;
    transition: transform 0.6s ease;
  }
  .main1 .main1_all .main1_text .main1_button .main1_button2:hover {
    transform: scale(1.02);
  }
  .main1 .main1_all .main1_text .main1_input1 {
    width: 78.29vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .main1 .main1_all .main1_img {
    bottom: 381px;
    display: flex;
    flex-direction: column;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    width: 124px;
    height: 212px;
    position: relative;
  }
  .main1 .main1_all .main1_img .main1_img_block1 {
    position: relative;
    top: 427px;
    left: 216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27vw;
  }
  .main1 .main1_all .main1_img .main1_img_block1 .main1_img_block1_1 {
    display: none;
    cursor: pointer;
  }
  .main1 .main1_all .main1_img .main1_img_block1 .main1_img_block1_2 {
    display: none;
    cursor: pointer;
  }
  .main1 .main1_all .main1_img .main1_img_block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 23vh;
    position: absolute;
    top: 0;
    left: -20px;
  }
  .main1 .main1_all .main1_img .main1_btn {
    width: 45px;
    height: 45px;
    background: #76B900;
    color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 3vw;
    bottom: 8vh;
    cursor: pointer;
    font-size: 25px;
  }
  .main1 .main1_all .main1_icons {
    width: 10vw;
    height: 22vw;
    display: flex;
    justify-content: end;
    position: relative;
    left: 6px;
    bottom: 765px;
  }
  .main1 .main1_all .main1_icons .main1_icons_all {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_1 {
    display: none;
    flex-direction: row;
    align-items: center;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_1 p {
    font-size: 0.975rem;
    color: #272727;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5vh;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 .main1_icons_2_2 {
    display: none;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 .main1_icons_2_3 {
    display: none;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 .main1_icons_2_4 {
    display: none;
    width: 48px;
    height: 48px;
    position: relative;
    top: -20px;
    left: 30px;
  }
  .main1 .main1_all .main1_icons .main1_icons_all .main1_icons_2 .main1_icons_2_4 img {
    width: 48px;
    height: 48px;
  }
  .main2 {
    width: 100vw;
    height: 137vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
  }
  .main2 .main2_all {
    width: 80vw;
    height: 130vh;
    gap: 3vh;
    display: flex;
    flex-direction: column;
  }
  .main2 .main2_all .main2_text_all {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
  }
  .main2 .main2_all .main2_text_all .main2_text1 {
    width: 50%;
    font-weight: 700;
    font-size: 1.625rem;
    color: #272727;
  }
  .main2 .main2_all .main2_text_all .main2_text2 {
    -webkit-text-decoration: underline #82BA01 1.5px;
            text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
    display: none;
  }
  .main2 .main2_all .main2_card_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: unset;
    scroll-behavior: unset;
    height: 101vh;
    gap: 2vh;
  }
  .main2 .main2_all .main2_card_all::-webkit-scrollbar {
    display: none;
  }
  .main2 .main2_all .main2_card_all .main2_card {
    width: 80vw;
    height: 25vh;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  }
  .main2 .main2_all .main2_card_all .main2_card .main_card_p {
    width: 72vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.125rem;
    color: #272727;
    box-shadow: unset;
  }
  .main2 .main2_all .main2_card_all .main2_card:hover {
    transform: scale(1.1);
  }
  .main2 .main2_all .main2_text2_mobile {
    display: flex;
    -webkit-text-decoration: underline #82BA01 1.5px;
    text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
    align-items: end;
    justify-content: center;
    height: 8vh;
  }
  .main2 .main2_all .main2_line_center {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .main2 .main2_all .main2_line_center .main2_line {
    width: 22vw;
    height: 0.4vw;
    background: #EDF0F6;
    border-radius: 1vw;
    position: relative;
    cursor: pointer;
  }
  .main2 .main2_all .main2_line_center .main2_line .main2_green {
    width: 4.5vw;
    height: 100%;
    background: #82BA01;
    border-radius: 1vw;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
  }
  .main2 .main2_all .main2_line_center .main2_line .main2_green:active {
    cursor: grabbing;
  }
  .main3 {
    width: 100vw;
    height: 115vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main3 .main3_all {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main3 .main3_all .main3_wh {
    display: grid;
    flex-direction: column;
    grid-template-rows: 80px 220px 75px 145px 41px 69px 114px;
    align-items: center;
  }
  .main3 .main3_all .main3_wh .main3_p1 {
    font-weight: 700;
    font-size: 1.625rem;
    color: #272727;
  }
  .main3 .main3_all .main3_wh .main3_img1 {
    display: flex;
    width: 80vw;
    height: 29vh;
  }
  .main3 .main3_all .main3_wh .main3_p2 {
    font-weight: 700;
    font-size: 1.125rem;
    color: #272727;
  }
  .main3 .main3_all .main3_wh .main3_p3 {
    width: 77vw;
    font-size: 0.975rem;
    color: #272727;
  }
  .main3 .main3_all .main3_wh .main3_p3 .main3_p3_span {
    display: none;
  }
  .main3 .main3_all .main3_wh .main3_text3_mobile {
    display: flex;
    font-size: 0.975rem;
    color: #6701BA;
    -webkit-text-decoration: underline 1px #82BA01;
            text-decoration: underline 1px #82BA01;
  }
  .main3 .main3_all .main3_wh .main3_sell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
  }
  .main3 .main3_all .main3_wh .main3_sell .main3_sell_p1 {
    font-weight: 700;
    font-size: 2.25rem;
    color: #82BA01;
  }
  .main3 .main3_all .main3_wh .main3_sell .main3_sell_p2 {
    font-size: 1.5rem;
    color: #6701BA;
    -webkit-text-decoration: line-through 1px;
            text-decoration: line-through 1px;
  }
  .main3 .main3_all .main3_wh .main3_button {
    display: flex;
    flex-direction: column;
    gap: 4.5vw;
  }
  .main3 .main3_all .main3_wh .main3_button .main3_button1 {
    width: 80vw;
    height: 6vh;
    background-color: #6701BA;
    font-size: 0.9375rem;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.6s ease;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
  }
  .main3 .main3_all .main3_wh .main3_button .main3_button1:hover {
    transform: scale(1.02);
  }
  .main3 .main3_all .main3_wh .main3_button .main3_button2 {
    width: 80vw;
    height: 6vh;
    background-color: transparent;
    font-size: 0.9375rem;
    color: #272727;
    border: #6701BA 1px solid;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.6s ease;
  }
  .main3 .main3_all .main3_wh .main3_button .main3_button2:hover {
    transform: scale(1.02);
  }
  .main3 .main3_all .main3_perelist {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    height: 8vh;
  }
  .main3 .main3_all .main3_perelist input {
    accent-color: #82BA01;
  }
  .main3 .main3_all .main3_perelist img {
    display: none;
  }
  .main3 .main3_all .main3_img {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 3vh;
  }
  .main3 .main3_all .main3_img img {
    display: none;
  }
  .main3 .main3_all .main3_img p {
    -webkit-text-decoration: underline #82BA01 1.5px;
            text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
  }
  .main4 {
    width: 100vw;
    height: 127vh;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #F9F9F9;
  }
  .main4 .main4_all {
    width: 80vw;
    height: 126vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
  }
  .main4 .main4_all .main4_text {
    display: flex;
    gap: 1.5vh;
    flex-direction: column;
  }
  .main4 .main4_all .main4_text .main4_p1 {
    font-weight: 700;
    font-size: 1.625rem;
    color: #272727;
  }
  .main4 .main4_all .main4_text .main4_p2 {
    display: flex;
    width: 80vw;
    font-size: 0.975rem;
    color: #272727;
    line-height: 25px;
  }
  .main4 .main4_all .main4_card_all {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
  }
  .main4 .main4_all .main4_card_all .main4_card {
    gap: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: 18vh;
    text-align: center;
    box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  }
  .main4 .main4_all .main4_card_all .main4_card p {
    width: 48vw;
    height: 5vh;
  }
  .main5 {
    width: 100vw;
    height: 177vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main5 .main5_all {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
  }
  .main5 .main5_all .main5_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main5 .main5_all .main5_text .main5_text_p1 {
    font-weight: 700;
    font-size: 1.625rem;
    color: #272727;
  }
  .main5 .main5_all .main5_text .main5_text_p2 {
    -webkit-text-decoration: underline #82BA01 1.5px;
            text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
    display: none;
  }
  .main5 .main5_all .main5_card_all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main5 .main5_all .main5_card_all .main5_card {
    width: 80vw;
    height: 50vh;
    box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  }
  .main5 .main5_all .main5_card_all .main5_card img {
    width: 80vw;
    height: 36vh;
  }
  .main5 .main5_all .main5_card_all .main5_card .main5_card_text {
    width: 20vw;
    height: 13vh;
    display: grid;
    align-items: center;
    grid-template-rows: 40px 31px;
    padding-left: 0px;
  }
  .main5 .main5_all .main5_card_all .main5_card .main5_card_text .main5_card_text1 {
    font-size: 0.975rem;
    color: #A8A8A8;
  }
  .main5 .main5_all .main5_card_all .main5_card .main5_card_text .main5_card_text2 {
    height: 4vh;
    width: 80vw;
    font-size: 1.125rem;
    color: #272727;
    font-weight: 700;
  }
  .main5 .main5_all .main5_p1_mobile {
    display: flex;
    -webkit-text-decoration: underline #82BA01 1.5px;
            text-decoration: underline #82BA01 1.5px;
    font-size: 0.9375rem;
    color: #6701BA;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main5 .main5_all .main5_line_center {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .main5 .main5_all .main5_line_center .main5_line {
    width: 22vw;
    height: 0.4vw;
    background: #EDF0F6;
    border-radius: 1vw;
    position: relative;
    cursor: pointer;
  }
  .main5 .main5_all .main5_line_center .main5_line .main5_green {
    width: 4.5vw;
    height: 100%;
    background: #82BA01;
    border-radius: 1vw;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
  }
  .main5 .main5_all .main5_line_center .main5_line .main5_green:active {
    cursor: grabbing;
  }
  footer {
    width: 100vw;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    background-color: #F9F9F9;
  }
  footer .footer_block1_all {
    width: 80vw;
    height: 124vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer_block1_all .footer_block1_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  footer .footer_block1_all .footer_block1_one a {
    text-decoration: none;
  }
  footer .footer_block1_all .footer_block1_one .footer_block1_one_text_main {
    height: 4vh;
    font-size: 1.125rem;
    font-weight: 700;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_one .footer_block1_one_text_all {
    font-size: 0.975rem;
    color: #272727;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    text-align: center;
  }
  footer .footer_block1_all .footer_block1_one .footer_block1_one_text_all a {
    text-decoration: none;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  footer .footer_block1_all .footer_block1_two a {
    text-decoration: none;
  }
  footer .footer_block1_all .footer_block1_two .footer_block1_two_text_main {
    height: 4vh;
    font-size: 1.125rem;
    font-weight: 700;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_two .footer_block1_two_text_main a {
    text-decoration: none;
  }
  footer .footer_block1_all .footer_block1_two .footer_block1_two_text_all {
    font-size: 0.975rem;
    color: #272727;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    text-align: center;
  }
  footer .footer_block1_all .footer_block1_two .footer_block1_two_text_all a {
    text-decoration: none;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_email {
    display: grid;
    width: 80vw;
    text-align: center;
    grid-template-rows: 70px 126px 99px 69px;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_p1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button input {
    width: 80vw;
    height: 6vh;
    padding-left: 20px;
    border: 0;
    border-radius: 6px;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    width: 80vw;
    height: 6vh;
    background-color: #6701BA;
    font-size: 0.9375rem;
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_input_button button hr {
    height: 3vh;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_p2 {
    width: 80vw;
    font-size: 1.125rem;
    font-weight: 700;
    color: #272727;
  }
  footer .footer_block1_all .footer_block1_email .footer_block1_email_p3 {
    font-size: 1.9rem;
    font-weight: 700;
    color: #6701BA;
  }
  footer .footer_line {
    width: 100vw;
  }
  footer .footer_block2_all {
    width: 80vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    flex-direction: column-reverse;
  }
  footer .footer_block2_all .footer_block2_p1 {
    color: #A8A8A8;
    font-size: 0.975rem;
  }
  footer .footer_block2_all .footer_block2_social {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
  }
  footer .footer_mobile {
    width: 100vw;
    height: 9vh;
    background-color: #6701BA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;
  }
  footer .footer_mobile .footer_mobile_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  footer .footer_mobile .footer_mobile_card p {
    font-size: 0.75rem;
    color: #FFFFFF;
  }
  footer .footer_mobile .footer_mobile_card img {
    height: 3vh;
  }
}/*# sourceMappingURL=style.css.map */