@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Poppins", sans-serif;
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
   font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    nav {
      width: 67.2vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .main1_logo {
         cursor: pointer;
      }
      .main1_icons_2_4 {
         display: none;
      }
        .block_search {
            display: flex;
            width: 17vw;
            height: 5vh;
            input {
                width: 14vw;
                height: 5vh;
                border: 0;
                background-color: #F9F9F9;
                padding-left: 15px;
            }
            .header_block1 {
                width: 3vw;
                height: 5vh;
                background-color: #82BA01;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                cursor: pointer;
                transition: box-shadow 0.3s ease, transform 0.3s ease;
            }
            .header_block1:hover {
               box-shadow: 0px 4px 50px -8px rgba(130, 186, 1, 1); 
               transform: scale(1.02); 
            }
        }
        .header_block2 {
            display: flex;
            flex-direction: row;
            gap: 1vw;
            .header_block3 {
                width: 8vw;
                display: flex;
                flex-direction: column;
                p {
                    font-size: 0.937rem;
                    color: #A8A8A8;
                }
                .header_block4 {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-size: 1.125rem;
                        color: #272727;
                    }
                }
            }
        }
        .header_block5 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1vw;
            .header_block6 {
                font-size: 1.125rem;
                color: #272727;
            }
        }
        .header_block7 {
            width: 10vw;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            gap: 0.7vw;
            box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
            cursor: pointer;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
        .header_block7:hover {
            box-shadow: 0px 4px 50px -8px rgba(65, 14, 106, 1); 
            transform: scale(1.02); 
        }
    }
    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #EDF0F6;
        width: 100vw;
        gap: 3vw;
        .header2_button {
            width: 9.9vw;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            cursor: pointer;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
        .header2_button:hover {
            box-shadow: 0px 4px 50px -8px rgba(65, 14, 106, 0.5); 
            transform: scale(1.01); 
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            a {
                display: flex;
                text-decoration: none;
                color: black;
                list-style: none;
                font-size: 1.125rem;
                color: #272727;
                transition: transform 0.2s ease;
               }
               .header2_3toch {
                 display: none;
               }
            a:hover {
               transform: scale(1.03);
            }
        }
    }
}
.header_catalog {
   width: 100vw;
   height: 76vh;
   display: none;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   .header_catalog_all {
      width: 67.2vw;
      height: 82vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .header_catalog_left {
         width: 14vw;
         height: 72vh;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         .header_catalog_menu {
            width: 13vw;
            height: 71vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .header_catalog_menu_item {
               width: 14vw;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               img {
                  width: 24px;
                  height: 24px;
               }
               .header_catalog_link {
                  font-weight: 700;
                  font-size: 1.125rem;
                  color: #272727;
                  text-decoration: none;
               }
               .header_catalog_link_active {
                  font-weight: 700;
                  font-size: 1.125rem;
                  color: #6701BA;
                  text-decoration: none;
               }
            }
         }
         .header_catalog_line {
            width: 3px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .header_catalog_line_active {
               width: 3px;
               height: 20%;
               background-color: #82BA01;
               border-radius: 100px;
               cursor: pointer;
            }
            .header_catalog_line_gray {
               width: 1px;
               height: 80%;
               background-color: #A8A8A8;
            }
         }
      }
      .header_catalog_right {
         width: 51vw;
         height: 72vh;
         display: flex;
         justify-content: center;
         align-items: start;
         .header_catalog_content {
            width: 48vw;
            height: 63vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            .header_catalog_title {
               font-weight: 700;
               font-size: 2.25rem;
               color: #272727;
            }
            .header_catalog_columns {
               width: 50vw;
               height: 55vh;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               .header_catalog_column {
                  width: 30%;
                  height: 100%;
                  gap: 5vh;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: flex-start;
                  .header_catalog_block {
                     width: 100%;
                     gap: 1vh;
                     height: max-content;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     align-items: flex-start;
                  }
                  .header_catalog_subtitle {
                     height: 3.5vh;
                     font-weight: 700;
                     font-size: 1.125rem;
                     color: #272727;
                     cursor: pointer;
                  }
                  .header_catalog_text {
                     font-size: 1.125rem;
                     color: #272727;
                     cursor: pointer;
                  }
               }
            }
         }
      }
   }
}
.catalog {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   .catalog_link {
      width: 67.2vw;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2vw;
      .catalog_p1 {
         font-size: 0.9375rem;
         color: #A8A8A8;
         text-decoration: underline;
      }
      .catalog_hr {
         width: 1px;
         height: 14px;
         background-color: #A8A8A8;
         border: 0;
      }
      .catalog_p2 {
         font-size: 0.9375rem;
         color: #6701BA;
      }
   }
   .catalog_js {
      width: 67.2vw;
      display: flex;
      flex-direction: column;
      gap: 4vh;
      .catalog_p3 {
         font-weight: 700;
         font-size: 2.25rem;
         color: #272727;
      }
      .catalog_cards {
         width: 67.2vw;
         display: flex;
         flex-direction: column;
         gap: 3.5vh;
         .catalog_cards_row {
            width: 67.2vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .catalog_card {
               width: 14.65vw;
               height: 25.1vh;
               display: flex;
               flex-direction: column;
               background-color: #FFFFFF;
               border: 1px solid rgba(168, 168, 168, 0.15);
               border-radius: 6px;
               overflow: hidden;
               box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
               transition: transform 0.6s ease, border 0.6s ease;
               cursor: pointer;
               .catalog_card_img {
                  width: 100%;
                  height: 20vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                  }
               }
               .catalog_card_text {
                  width: 100%;
                  height: 8vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  p {
                     font-weight: 700;
                     font-size: 1.125rem;
                     color: #272727;
                     text-align: center;
                  }
               }
            }
            .catalog_card:hover {
               transform: scale(1.02);
               border: 1px solid #6701BA;
            }
         }
      }
   }
}
.popular {
   width: 100vw;
   height: 74vh;
   display: flex;
   justify-content: center;
   .popular_all {
      width: 67.2vw;
      height: 79vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4vh;
      .popular_title {
         width: 67.2vw;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         .popular_p1 {
            font-size: 1.625rem;
            font-weight: 700;
            color: #272727;
         }
         .popular_p2 {
            text-decoration: underline #82BA01 1.5px;
            font-size: 0.9375rem;
            color: #6701BA;
         }
      }
      .popular_cards {
         width: 67.2vw;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .popular_card {
            width: 14.65vw;
            height: 39.81vh;
            background-color: #FFFFFF;
            border: 1px solid rgba(168, 168, 168, 0.15);
            border-radius: 6px;
            box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
            overflow: hidden;
            transition: transform 0.6s ease;
            .popular_card_top {
               width: 14.65vw;
               height: 23vh;
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               .popular_sale {
                  width: 3.2vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 2vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #C91D06;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_new {
                  width: 5.2vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 6.8vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #00B921;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_hit {
                  width: 3.1vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 11.6vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #0586C9;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_img {
                  width: 12vw;
                  height: 18vh;
                  object-fit: contain;
               }
            }
            .popular_card_text {
               width: 14.65vw;
               height: 14.81vh;
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 1vh;
               .popular_p3 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-size: 1.125rem;
                  color: #272727;
               }
               .popular_p4 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-size: 1rem;
                  color: #6701BA;
                  text-decoration: line-through;
               }
               .popular_p5 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-weight: 700;
                  font-size: 1.125rem;
                  color: #272727;
               }
               .popular_buy {
                  width: 12.6vw;
                  position: relative;
                  left: 1vw;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  .popular_count {
                     width: 6vw;
                     height: 4.5vh;
                     display: flex;
                     flex-direction: row;
                     background-color: #EEF2F6;
                     border-radius: 6px;
                     overflow: hidden;
                     button {
                        width: 2vw;
                        height: 4.5vh;
                        border: 0;
                        background-color: #E3E9F0;
                        font-size: 1.125rem;
                        color: #272727;
                        cursor: pointer;
                     }
                     p {
                        width: 2vw;
                        height: 4.5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1rem;
                        color: #272727;
                     }
                     .popular_count_btn_active {
                        background-color: #82BA01;
                        color: #FFFFFF;
                     }
                  }
                  .popular_button {
                     width: 6vw;
                     height: 4.5vh;
                     background-color: transparent;
                     border: 1px solid #6701BA;
                     border-radius: 6px;
                     font-size: 1rem;
                     color: #272727;
                     cursor: pointer;
                  }
                  .popular_button_active {
                     background-color: #6701BA;
                     color: #FFFFFF;
                  }
               }
            }
         }
         .popular_card:hover {
            transform: scale(1.02);
         }
      }
      .popular_slider {
         width: 89vw;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 1.5vw;
         .popular_arrow {
            width: 52px;
            height: 52px;
            border: 0;
            border-radius: 50%;
            font-size: 2rem;
            cursor: pointer;
         }
         .popular_dots {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.7vw;
         }
      }
   }
}
footer {
   width: 100vw;
   height: 50vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: end;
   background-color: #F9F9F9;
   .footer_block1_all {
      width: 67.2vw;
      height: 27vh;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      .footer_block1_one {
         display: flex;
         flex-direction: column;
         a {
            text-decoration: none;
         }
         .footer_block1_one_text_main {
            height: 4vh;
            font-size: 1.125rem;
            font-weight: 700;
            color: #272727;
         }
         .footer_block1_one_text_all {
            font-size: 0.975rem;
            color: #272727;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            a {
               text-decoration: none;
               color: #272727;
            }
         }
      }
      .footer_block1_two {
         display: flex;
         flex-direction: column;
         a {
            text-decoration: none;
         }
         .footer_block1_two_text_main {
            height: 4vh;
            font-size: 1.125rem;
            font-weight: 700;
            color: #272727;
            a {
               text-decoration: none;
            }
         }
         .footer_block1_two_text_all {
            font-size: 0.975rem;
            color: #272727;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            a {
               text-decoration: none;
               color: #272727;
            }
         }
      }
      .footer_block1_email {
         display: grid;
         width: 22.4vw;
         grid-template-rows: 44px 75px 70px 44px;
         .footer_block1_email_p1 {
            font-size: 1.125rem;
            font-weight: 700;
            color: #272727;
         }
         .footer_block1_email_input_button {
            display: flex;
            flex-direction: row;
            gap: 1.5vw;
            input {
               width: 11.57vw;
               height: 5vh;
               padding-left: 20px;
               border: 0;
               border-radius: 6px;
            }
            button {
               display: flex;
               align-items: center;
               flex-direction: row;
               justify-content: center;
               gap: 1vw;
               width: 9.29vw;
               height: 5vh;
               background-color: #6701BA;
               font-size: 0.9375rem;
               color: #ffffff;
               border-radius: 6px;
               border: 0;
               cursor: pointer;
               hr {
                  height: 3vh;
               }
            }
         }
         .footer_block1_email_p2 {
            width: 74%;
            font-size: 1.125rem;
            font-weight: 700;
            color: #272727;
         }
         .footer_block1_email_p3 {
            font-size: 2rem;
            font-weight: 700;
            color: #6701BA;
         }
      }
   }
   .footer_line {
      width: 100vw;
   }
   .footer_block2_all {
      width: 67.2vw;
      height: 13vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer_block2_p1 {
         color: #A8A8A8;
         font-size: 0.975rem;
      }
      .footer_block2_social {
         display: flex;
         flex-direction: row;
         gap: 0.5vw;
      }
   }
   .footer_mobile {
      display: none;
   }
}
.footer_table {
   display: none;
}

@media (min-width: 426px) and (max-width: 1024px) {
   * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
   font-family: "Poppins", sans-serif;
   }
   header {
    width: 100vw;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    nav {
      width: 95vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .main1_logo {
         width: 130px;
         height: 65px;
      }
      .main1_icons_2_4 {
         display: flex;
         gap: 2vw;
         flex-direction: row-reverse;
         .main1_icons_2_4_all3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2vw;
         }
      }
         .block_search {
            display: flex;
            width: 35vw;
            height: 5vh;
            input {
                width: 27vw;
                height: 5vh;
                border: 0;
                background-color: #F9F9F9;
                padding-left: 15px;
            }
            .header_block1 {
                width: 8vw;
                height: 5vh;
                background-color: #82BA01;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                cursor: pointer;
                transition: box-shadow 0.3s ease, transform 0.3s ease;
            }
            .header_block1:hover {
               box-shadow: 0px 4px 50px -8px rgba(130, 186, 1, 1); 
               transform: scale(1.02); 
            }
        }
        .header_block2 {
            display: none;
            flex-direction: row;
            gap: 1vw;
            width: 11vw;
            .header_block3 {
                width: 8vw;
                display: flex;
                flex-direction: column;
                p {
                    font-size: 0.937rem;
                    color: #A8A8A8;
                }
                .header_block4 {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-size: 1.125rem;
                        color: #272727;
                    }
                }
            }
        }
        .header_block5 {
            display: none;
            .header_block6 {
                font-size: 1.125rem;
                color: #272727;
            }
        }
        .header_block7 {
            width: 10vw;
            height: 5vh;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            gap: 0.7vw;
            box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
            cursor: pointer;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
    }
    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #EDF0F6;
        width: 100vw;
        gap: 3vw;
        .header2_button {
            width: 20vw;
            height: 6vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            cursor: pointer;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
        .header2_button:hover {
            box-shadow: 0px 4px 50px -8px rgba(65, 14, 106, 0.5); 
            transform: scale(1.01); 
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            width: 72vw;
            overflow: hidden;
            align-items: center;
            a {
                display: flex;
                text-decoration: none;
                color: black;
                list-style: none;
                font-size: 1.125rem;
                color: #272727;
                transition: transform 0.2s ease;
                li {
                  width: 24vw;
                  display: flex;
                  justify-content: center;
                }
                .header2_oneli {
                  width: 10vw;
                }
            }
            .header2_3toch {
               display: flex;
            }
            a:hover {
               transform: scale(1.03);
            }
        }
    }
}
.catalog {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   .catalog_link {
      width: 95vw;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2vw;
      .catalog_p1 {
         font-size: 0.9375rem;
         color: #A8A8A8;
         text-decoration: underline;
      }
      .catalog_hr {
         width: 1px;
         height: 14px;
         background-color: #A8A8A8;
         border: 0;
      }
      .catalog_p2 {
         font-size: 0.9375rem;
         color: #6701BA;
      }
   }
   .catalog_js {
      width: 95vw;
      display: flex;
      flex-direction: column;
      gap: 4vh;
      .catalog_p3 {
         font-weight: 700;
         font-size: 2.25rem;
         color: #272727;
      }
      .catalog_cards {
         width: 95vw;
         height: 140vh;
         display: flex;
         flex-direction: column;
         gap: 3.5vh;
         overflow: hidden;
         .catalog_cards_row {
            width: 95vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .catalog_card {
               width: 46vw;
               height: 34vh;
               display: flex;
               flex-direction: column;
               background-color: #FFFFFF;
               border: 1px solid rgba(168, 168, 168, 0.15);
               border-radius: 6px;
               overflow: hidden;
               box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
               transition: transform 0.6s ease, border 0.6s ease;
               cursor: pointer;
               .catalog_card_img {
                  width: 100%;
                  height: 20vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                  }
               }
               .catalog_card_text {
                  width: 100%;
                  height: 8vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  p {
                     font-weight: 700;
                     font-size: 1.125rem;
                     color: #272727;
                     text-align: center;
                  }
               }
            }
            .catalog_card:hover {
               transform: scale(1.02);
               border: 1px solid #6701BA;
            }
         }
      }
   }
}
.popular {
   width: 100vw;
   height: 74vh;
   display: flex;
   justify-content: center;
   .popular_all {
      width: 95vw;
      height: 79vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4vh;
      .popular_title {
         width: 95vw;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         .popular_p1 {
            font-size: 1.625rem;
            font-weight: 700;
            color: #272727;
         }
         .popular_p2 {
            text-decoration: underline #82BA01 1.5px;
            font-size: 0.9375rem;
            color: #6701BA;
         }
      }
      .popular_cards {
         width: 95vw;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .popular_card {
            width: 14.65vw;
            height: 39.81vh;
            background-color: #FFFFFF;
            border: 1px solid rgba(168, 168, 168, 0.15);
            border-radius: 6px;
            box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
            overflow: hidden;
            transition: transform 0.6s ease;
            .popular_card_top {
               width: 14.65vw;
               height: 23vh;
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               .popular_sale {
                  width: 3.2vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 2vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #C91D06;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_new {
                  width: 5.2vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 6.8vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #00B921;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_hit {
                  width: 3.1vw;
                  height: 3.8vh;
                  position: absolute;
                  top: 11.6vh;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #0586C9;
                  border-radius: 0 20px 20px 0;
                  p {
                     font-size: 0.875rem;
                     color: #FFFFFF;
                  }
               }
               .popular_img {
                  width: 12vw;
                  height: 18vh;
                  object-fit: contain;
               }
            }
            .popular_card_text {
               width: 14.65vw;
               height: 14.81vh;
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 1vh;
               .popular_p3 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-size: 1.125rem;
                  color: #272727;
               }
               .popular_p4 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-size: 1rem;
                  color: #6701BA;
                  text-decoration: line-through;
               }
               .popular_p5 {
                  width: 12vw;
                  position: relative;
                  left: 1vw;
                  font-weight: 700;
                  font-size: 1.125rem;
                  color: #272727;
               }
               .popular_buy {
                  width: 12.6vw;
                  position: relative;
                  left: 1vw;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  .popular_count {
                     width: 6vw;
                     height: 4.5vh;
                     display: flex;
                     flex-direction: row;
                     background-color: #EEF2F6;
                     border-radius: 6px;
                     overflow: hidden;
                     button {
                        width: 2vw;
                        height: 4.5vh;
                        border: 0;
                        background-color: #E3E9F0;
                        font-size: 1.125rem;
                        color: #272727;
                        cursor: pointer;
                     }
                     p {
                        width: 2vw;
                        height: 4.5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1rem;
                        color: #272727;
                     }
                     .popular_count_btn_active {
                        background-color: #82BA01;
                        color: #FFFFFF;
                     }
                  }
                  .popular_button {
                     width: 6vw;
                     height: 4.5vh;
                     background-color: transparent;
                     border: 1px solid #6701BA;
                     border-radius: 6px;
                     font-size: 1rem;
                     color: #272727;
                     cursor: pointer;
                  }
                  .popular_button_active {
                     background-color: #6701BA;
                     color: #FFFFFF;
                  }
               }
            }
         }
         .popular_card:hover {
            transform: scale(1.02);
         }
      }
      .popular_slider {
         width: 89vw;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 1.5vw;
         .popular_arrow {
            width: 52px;
            height: 52px;
            border: 0;
            border-radius: 50%;
            font-size: 2rem;
            cursor: pointer;
         }
         .popular_dots {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.7vw;
         }
      }
   }
}
}