@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Poppins", sans-serif;
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
   font-family: "Poppins", sans-serif;
}
header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    nav {
      width: 67.2vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .main1_logo {
         cursor: pointer;
      }
      .main1_icons_2_4 {
         display: none;
      }
        .block_search {
            display: flex;
            width: 17vw;
            height: 5vh;
            input {
                width: 14vw;
                height: 5vh;
                border: 0;
                background-color: #F9F9F9;
                padding-left: 15px;
            }
            .header_block1 {
                width: 3vw;
                height: 5vh;
                background-color: #82BA01;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                cursor: pointer;
                transition: box-shadow 0.3s ease, transform 0.3s ease;
            }
            .header_block1:hover {
               box-shadow: 0px 4px 50px -8px rgba(130, 186, 1, 1); 
               transform: scale(1.02); 
            }
        }
        .header_block2 {
            display: flex;
            flex-direction: row;
            gap: 1vw;
            .header_block3 {
                width: 8vw;
                display: flex;
                flex-direction: column;
                p {
                    font-size: 0.937rem;
                    color: #A8A8A8;
                }
                .header_block4 {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-size: 1.125rem;
                        color: #272727;
                    }
                }
            }
        }
        .header_block5 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1vw;
            .header_block6 {
                font-size: 1.125rem;
                color: #272727;
            }
        }
        .header_block7 {
            width: 10vw;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            gap: 0.7vw;
            box-shadow: 0px 20px 50px -8px rgba(65, 14, 106, 0.35);
            cursor: pointer;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
        .header_block7:hover {
            box-shadow: 0px 4px 50px -8px rgba(65, 14, 106, 1); 
            transform: scale(1.02); 
        }
    }
    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #EDF0F6;
        width: 100vw;
        gap: 3vw;
        .header2_button {
            width: 9.9vw;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            background-color: #6701BA;
            border: 0;
            border-radius: 6px;
            cursor: pointer;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            hr {
                height: 3vh;
            }
            p {
                font-size: 0.9375rem;
                color: #FFFFFF;
            }
        }
        .header2_button:hover {
            box-shadow: 0px 4px 50px -8px rgba(65, 14, 106, 0.5); 
            transform: scale(1.01); 
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            a {
                display: flex;
                text-decoration: none;
                color: black;
                list-style: none;
                font-size: 1.125rem;
                color: #272727;
                transition: transform 0.2s ease;
               }
               .header2_3toch {
                 display: none;
               }
            a:hover {
               transform: scale(1.03);
            }
        }
    }
}
.main1 {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   .main1_all {
      width: 67.2vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 4vh;
      .main1_way {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 1.2vw;
         height: 5vh;
         .main1_way_p1 {
            font-size: 0.9375rem;
            color: #A8A8A8;
            text-decoration: underline;
         }
         .main1_way_line {
            color: #A8A8A8;
         }
         .main1_way_p2 {
            font-size: 0.9375rem;
            color: #6701BA;
         }
      }
      .main1_p1 {
         font-weight: 700;
         font-size: 2.25rem;
         color: #272727;
      }
      .main1_content {
         width: 67.2vw;
         display: flex;
         flex-direction: row;
         position: relative;
         gap: 1.7vw;
         .main1_left {
            width: 14.65vw;
            height: 148vh;
            background-color: #F9F9F9;
            display: flex;
            flex-direction: column;
            align-items: center;
            .main1_back {
               height: 8vh;
               width: 12vw;
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 0.5vw;
               p {
                  font-size: 1rem;
                  color: #272727;
               }
            }
            .main1_left_line {
               width: 16vw;
               height: 1px;
               background-color: #A8A8A8;
            }
            .main1_left_title {
               font-weight: 700;
               font-size: 1.125rem;
               color: #111111;
            }
            .main1_categories {
               width: 12vw;
               display: flex;
               flex-direction: column;
               gap: 1.3vh;
               justify-content: end;
               height: 26vh;
               p {
                  font-size: 1.125rem;
                  color: #272727;
               }
            }
            .main1_offer {
               width: 12vw;
               display: flex;
               flex-direction: column;
               gap: 1.3vh;
               justify-content: end;
               height: 18vh;
               p {
                  font-size: 1.125rem;
                  color: #272727;
               }
            }
            .main1_price {
               width: 12vw;
               display: flex;
               flex-direction: column;
               gap: 1.3vh;
               justify-content: end;
               height: 16vh;
               p {
                  font-size: 1.125rem;
                  color: #272727;
               }
            }
            .main1_type {
               width: 12vw;
               display: flex;
               flex-direction: column;
               gap: 1.3vh;
               justify-content: end;
               height: 40vh;
               p {
                  font-size: 1.125rem;
                  color: #272727;
               }
            }
            .main1_check {
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 0.6vw;
               div {
                  width: 16px;
                  height: 16px;
                  border: 1px solid #A8A8A8;
                  border-radius: 3px;
               }
               .main1_check_active {
                  background-color: #82BA01;
                  border: 1px solid #82BA01;
               }
               p {
                  width: 8vw;
               }
               span {
                  font-size: 1rem;
                  color: #A8A8A8;
               }
            }
            .main1_left_row {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
            }
            .main1_price_inputs {
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 0.5vw;
               div {
                  width: 5.8vw;
                  height: 4vh;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap: 0.4vw;
                  border: 1px solid #A8A8A8;
                  border-radius: 6px;
                  span {
                     color: #A8A8A8;
                     font-size: 1rem;
                  }
               }
            }
            .main1_range {
               width: 13vw;
               height: 3px;
               background-color: #A8A8A8;
               position: relative;
               .main1_range_green {
                  width: 7.4vw;
                  height: 3px;
                  background-color: #6701BA;
                  position: absolute;
                  left: 0.5vw;
               }
               .main1_range_circle {
                  width: 17px;
                  height: 17px;
                  background-color: #82BA01;
                  border-radius: 50%;
                  position: absolute;
                  top: -7px;
               }
               .main1_range_circle1 {
                  left: 0;
               }
               .main1_range_circle2 {
                  left: 7.3vw;
               }
            }
            .main1_price_text {
               width: 10vw;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               p {
                  font-size: 0.9375rem;
                  color: #A8A8A8;
               }
            }
            .main1_search {
               width: 13vw;
               height: 4.5vh;
               border: 1px solid #A8A8A8;
               border-radius: 6px;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               overflow: hidden;
               p {
                  display: flex;
                  align-items: center;
                  position: relative;
                  left: 1vw;
                  color: #A8A8A8;
                  font-size: 1rem;
               }
               button {
                  width: 3vw;
                  height: 4.5vh;
                  border: 0;
                  background-color: #82BA01;
                  color: #FFFFFF;
                  font-size: 1.7rem;
               }
            }
            .main1_type_list {
               height: 27vh;
               display: flex;
               flex-direction: column;
               gap: 1.3vh;
               overflow: hidden;
            }
            .main1_filter_bottom {
               width: 12vw;
               display: flex;
               flex-direction: column;
               gap: 2vh;
               justify-content: end;
               height: 28vh;
               div {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
               }
               button {
                  width: 13vw;
                  height: 6vh;
                  background-color: transparent;
                  border: 1px solid #6701BA;
                  border-radius: 6px;
                  color: #272727;
                  font-size: 1.125rem;
               }
            }
         }
         .main1_right {
            width: 49.5vw;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            .main1_top {
               width: 49.5vw;
               height: 34vh;
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 1vw;
               .main1_new {
                  width: 49.5vw;
                  height: 34vh;
                  background-color: rgba(242, 243, 245, 0.65);
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 2vh;
                  .main1_p2 {
                     width: 46vw;
                     font-weight: 700;
                     font-size: 1.25rem;
                     color: #272727;
                  }
                  .main1_new_cards {
                     width: 46vw;
                     display: flex;
                     flex-direction: row;
                     gap: 0.5vw;
                     overflow: hidden;
                     div {
                        width: 9.3vw;
                        height: 13.8vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFFFFF;
                        border-radius: 6px;
                        box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
                        img {
                           width: 7.35vw;
                           height: 10vh;
                           object-fit: contain;
                        }
                     }
                  }
                  .main1_slider {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     width: 46vw;
                     .main1_new_slider {
                        width: 18.1vw;
                        height: 0.5vh;
                        background-color: #E3E9F0;
                        border-radius: 10px;
                        div {
                           width: 3vw;
                           height: 0.5vh;
                           background-color: #82BA01;
                           border-radius: 10px;
                        }
                     }
                  }
               }
            }
            .main1_sort {
               display: flex;
               flex-direction: row;
               gap: 0.5vw;
               justify-content: space-between;
               .main1_sort_button {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5vw;
                  button {
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     justify-content: center;
                     gap: 0.3vw;
                     height: 5.5vh;
                     border: 0;
                     border-radius: 6px;
                     background-color: #E9EEF5;
                     color: #272727;
                     font-size: 1rem;
                  }
               }
               .main1_view {
                  display: flex;
                  flex-direction: row;
                  gap: 1vw;
                  button {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 52px;
                     height: 52px;
                     border: 0;
                     border-radius: 50%;
                     background-color: transparent;
                     color: #A8A8A8;
                     font-size: 1.5rem;
                  }
                  .main1_view_active {
                     background-color: #6701BA;
                     color: #FFFFFF;
                  }
               }
            }
            .main1_tags {
               display: flex;
               flex-direction: row;
               gap: 0.5vw;
               button {
                  height: 5.5vh;
                  border: 0;
                  border-radius: 6px;
                  background-color: #E9EEF5;
                  color: #272727;
                  font-size: 1rem;
               }
            }
            .main1_sort button {
               width: 10vw;
            }
            .main1_tags button {
               width: 8vw;
               background-color: transparent;
               border: 1px solid #6701BA;
            }
            .main1_tags .main1_tag_active {
               background-color: #82BA01;
               color: #FFFFFF;
               border: 1px solid #82BA01;
            }
            .main1_products {
               width: 49.5vw;
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: space-between;
               row-gap: 6vh;
               .main1_card {
                  width: 15vw;
                  height: 39vh;
                  display: flex;
                  flex-direction: column;
                  transition: transform 0.3s ease, box-shadow 0.3s ease;
                  .main1_card_top {
                     width: 15vw;
                     height: 20vh;
                     position: relative;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     .main1_sale,
                     .main1_new_label,
                     .main1_hit {
                        height: 3.5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        border-radius: 0 20px 20px 0;
                        p {
                           color: #FFFFFF;
                           font-size: 0.875rem;
                        }
                     }
                     .main1_sale {
                        width: 3.5vw;
                        top: 0;
                        background-color: #C91D06;
                     }
                     .main1_new_label {
                        width: 5vw;
                        top: 4.5vh;
                        background-color: #00B921;
                     }
                     .main1_hit {
                        width: 3vw;
                        top: 9vh;
                        background-color: #0586C9;
                     }
                     .main1_card_img {
                        width: 12vw;
                        height: 17vh;
                        object-fit: contain;
                     }
                  }
                  .main1_card_text {
                     width: 15vw;
                     height: 18vh;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     gap: 1vh;
                     .main1_card_p1 {
                        width: 13vw;
                        font-size: 1.125rem;
                        color: #272727;
                     }
                     .main1_card_p2 {
                        width: 13vw;
                        font-size: 1rem;
                        color: #6701BA;
                        text-decoration: line-through;
                     }
                     .main1_card_p3 {
                        width: 13vw;
                        font-weight: 700;
                        font-size: 1.25rem;
                        color: #272727;
                     }
                     .main1_buy {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1.1vw;
                        .main1_count {
                           width: 5.9vw;
                           height: 4vh;
                           display: flex;
                           flex-direction: row;
                           background-color: #EEF2F6;
                           border-radius: 6px;
                           overflow: hidden;
                           button {
                              width: 2.2vw;
                              border: 0;
                              background-color: #E3E9F0;
                           }
                           .main1_count_active {
                              background-color: #82BA01;
                              color: #FFFFFF;
                           }
                           p {
                              width: 2.1vw;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                           }
                        }
                        .main1_basket {
                           width: 5.9vw;
                           height: 4vh;
                           border: 1px solid #6701BA;
                           border-radius: 6px;
                           background-color: transparent;
                           font-size: 1rem;
                        }
                        .main1_basket_active {
                           background-color: #6701BA;
                           color: #FFFFFF;
                        }
                     }
                  }
               }
               .main1_card:hover {
                  transform: scale(1.02);
                  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
               }
            }
            .main1_bottom {
               width: 49.5vw;
               display: flex;
               flex-direction: column;
               gap: 3vh;
               .main1_bottom_line {
                  width: 49.5vw;
                  height: 1px;
                  background-color: #A8A8A8;
               }
               .main1_bottom_all {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  .main1_more {
                     width: 10vw;
                     height: 6vh;
                     background-color: #6701BA;
                     color: #FFFFFF;
                     border: 0;
                     border-radius: 6px;
                     font-size: 1.125rem;
                  }
                  .main1_pages {
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     gap: 1.2vw;
                     button {
                        width: 38px;
                        height: 38px;
                        border: 0;
                        background-color: transparent;
                        font-size: 1.125rem;
                        color: #272727;
                     }
                     .main1_page_active {
                        background-color: #82BA01;
                        color: #FFFFFF;
                        border-radius: 6px;
                     }
                  }
               }
            }
         }
         .main1_icons {
            width: 8vw;
            position: absolute;
            right: -9vw;
            top: 3vh;
            .main1_icons_all {
               display: flex;
               flex-direction: column;
               align-items: end;
               gap: 2vh;
               img {
                  width: 56px;
                  height: 56px;
                  border-radius: 50%;
                  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
               }
               .main1_icons_1 {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 0.8vw;
                  p {
                     font-size: 0.975rem;
                     color: #272727;
                  }
                  div {
                     position: relative;
                     span {
                        width: 17px;
                        height: 17px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        background-color: #6701BA;
                        color: #FFFFFF;
                        font-size: 0.6875rem;
                        border-radius: 50%;
                     }
                  }
               }
            }
         }
      }
   }
}